.menu {
  position: static;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 0, 0);
  padding: 10px;
  border-radius: 10px;
}

/* Estilo para os itens do menu */
.menu a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

/* Adicionando uma animação aos itens do menu */
.menu a:hover {
  transform: translateX(10px);
  transition: all 0.2s ease-in-out;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(85, 82, 82);
  }
  body {
    background: linear-gradient(to right, #f7f7f7, #a7a7a7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 60%;
    }
    50% {
      background-position: 100% 60%;
    }
    100% {
      background-position: 0% 60%;
    }
  }
  